<script>
    const myVariableClient = <%- JSON.stringify(myVariable) %>;
    for ( let i=0; i<myVariableClient.length; i++) {
        alert(myVariableClient[i]);
    }
</script>
<ul>kjhkj
<% for ( let i=0; i<myVariable.length; i++) { %>
    <li><%- myVariable[i] %></li>

<% } %>
</ul>